<h2 class="mt-4">Minions <small>a mansalva</small></h2>
<hr>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let minion of minions; let i = index;">
            <div class="card" style="width: 18rem;">
                <img [src]="minion.img"  class="card-img-top" [alt]="minion.name" style="width: 150px; margin-top: 25px;">
                <div class="card-body">
                    <h5 class="card-title"> {{ minion.name }} </h5>
                    <p class="card-text"> {{ minion.bio }} </p>
                    <p class="card-text"><small class="text-muted"> {{ minion.birth }} </small></p>
                    <button type="button" class="btn btn-outline-warning btn-block" (click)="seeMinion(i)">Ver más info</button>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ minion.lastUpdated}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
