<div class="container animated fadeIn fast">
    <div class="row">
        <div class="col-6" style="vertical-align: middle;">

            <h1>{{ minion.name }} <small> | Nacido en {{ minion.birth }} </small> </h1>
        </div>  
        <div class="col-1">
            <img *ngIf="minion.side === 'de los buenos'" src="../../../assets/img/de los buenos.PNG" alt="" class="img-fluid side">
            <img *ngIf="minion.side === 'malvado'" src="@ima/img/de los malos.PNG" alt="minion.name" class="img-fluid side">
        </div>  
    </div>  
    <hr>

    <div class="row">
        <div class="col-md-4">
            <img [src]="minion.img" [alt]="minion.name" class="img-fluid">
            <a [routerLink]="['/minions']" class="btn btn-outline-danger btn-block mt-3">Volver</a>
        </div>
        <div class="col-md-8">
            <h3>{{ minion.name }}</h3>
            <hr>
            <p>{{ minion.bio }}</p>
            <h5> Lado: {{ minion.side }} </h5>
              
        </div>    
    </div>    
</div>
